<nav id="nav-bar" class="navbar navbar-expand-md navbar-light sticky-top shadow p-1" style="background-color: #e9ecef;">
    <div class="container-lg px-lg-0 px-4">
        <a id="ico-player-toggler" class="navbar-brand py-1 m-0" role="button" onclick="player.hidden = !player.hidden">
            <img src="assets/minecraft.ico" width="37" height="37" class="" alt="X">
        </a>
        <a class="navbar-brand py-" href="#">
            <span class=" h5 ml-3">{{title | uppercase}}</span>
        </a>

        <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#collapsedContent"
            aria-controls="collapsedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsedContent">
            <div class="navbar-nav mr-auto ml-md-0 ml-5 text-nowrap align-items-md-center">
                <a class="nav-item nav-link" href="#" routerLinkActive="active" routerLink="/home">Home</a>
                <a class="nav-item nav-link" [ngClass]="{disabled : !currentUser || !isUser}" href="#"
                    routerLinkActive="active" routerLink="/main">Client accounts</a>
                <a class="nav-item nav-link" [ngClass]="{disabled : !currentUser || !isAdmin}" href="#"
                    routerLinkActive="active" routerLink="/admin">Admin</a>
            </div>
        </div>

        <div class="form-inline ml-auto text-nowrap" *ngIf="!currentUser">
            <span class="navbar-text mr-3 ">Hello, Guest</span>
            <a class="btn btn-outline-warning btn-sm" type="button" routerLinkActive="active"
                routerLink="/auth/login">Login</a>
            <a class="btn btn-outline-light btn-sm ml-2" type="button" routerLinkActive="active"
                routerLink="/auth/register">Register</a>
        </div>
        <div class="navbar-nav flex-row ml-auto align-items-center text-nowrap" *ngIf="currentUser">
            <a class="nav-item nav-link mr-4 " type="button" routerLinkActive="active"
                routerLink="/profile">{{ currentUser.username }}</a>
            <button class="btn btn-outline-warning btn-sm " type="button" (click)="logout()">Logout</button>
        </div>
    </div>
</nav>

<div id="main-frame" class="container-fluid py-xl-5 py-lg-4 py-3 bg-">
    <router-outlet></router-outlet>
</div>

<audio id="player" class="rounded-pill shadow p-0" controls autoplay loop hidden
    src="assets/C418 - Minecraft.mp3"
    style="z-index: 1000; position: fixed; top: 60px; left: 6px;">
</audio>

<app-notification aria-live="polite" aria-atomic="true"></app-notification>

<!-- <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" style="border: 0; width: 400px; height: 472px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=1349219244/size=large/bgcol=333333/linkcol=2ebd35/artwork=small/transparent=true/"
        seamless>
        <a href="https://c418.bandcamp.com/album/minecraft-volume-alpha">Minecraft - Volume Alpha by C418</a>
    </iframe>
</div> -->